

.skills{
    // border:5px solid yellow;

    &__content-wrapper{
        // border: 4px solid darkblue;
        display: flex;
        margin: 0 20PX;
        gap: 20px;
&__inner-content{
    // border: 3px solid crimson;
    flex:1;
    flex-direction: column;

    &__category-text{
        margin-top: 15px;
        color: aqua;
    }
}



        // &__inner-content__category-text{
        //     color: whitesmoke;
        // }
    }
}


.skills__content-wrapper__inner-content__progressbar-container{
    // border: 3px solid white;
}

.skillname{
    color:rgb(216 192 194);
    font-style: oblique;
    font-size: 1.2rem;
    margin: 10px 0px;
}

.progressbar-wrapper{
//   border: 2ps solid black;

}

@media only screen and (max-width:768px){

}

