@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


:root{


    --yellow-theme-background-color : #1d1d1d;
    --yellow-theme-main-color : #ffdd40;
    --yellow-theme-sub-text-color : #ffffff;
    --yellow-theme-nav-background-color : #181818;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
  /* border: 10px solid crimson; */
    background: var(--yellow-theme-background-color);
    height: 100%;
}

#root{
   /* border: 3px solid blue; */
    height: 800px;
    background: var(--yellow-theme-background-color);
}

 /*In index.html id = root basically the main container where we are rendering all the contents that basically we're writing fro this application */



